<footer >
  <h3 data-aos="fade-up">Made By The TechGeek's</h3>
  <p data-aos="fade-up">© Copyright 2020</p>
  <h5 data-aos="fade-up">Come connect with us</h5>

  <a class="fab fa-facebook-f fa-2x" href="https://www.facebook.com/" ></a>
  <a class="fab fa-instagram fa-2x" href="https://www.instagram.com/"></a>
  <a class="fab fa-linkedin   fa-2x" href="https://in.linkedin.com/"></a>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js" charset="utf-8"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();

</script>

</body>
</html>
