<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/uikit.min.css" />
      <script src="js/uikit.min.js"></script>
      <script src="js/uikit-icons.min.js"></script>
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Roboto+Condensed:400,700,700i&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Blog<b class="wep">wep</b></h1>
      <div class="buttons">

<span><button type="button" name="button" class="btn" onclick="location.href='/signup'"> Home</button></span>
<span><button type="button" name="button" class="btn">Contact</button></span>
<span><button type="button" name="button" class="btn" onclick="location.href='/signup'">signup/signin</button></span>

</div>
    </div>
