<%- include("partials/header") -%>

<section>

<div class="firstbox ">
  <h1><b>W</b>rite <b>Y</b>our <b>T</b>ech <b>T</b>houghts</h1>
</div>
<div class="secondbox col-lg-4 col-sm-4 col-md-4">
  <form class="formblog" action="/blogsubmit" method="post">


<h3>Title:</h3>
<input type="text" name="blogtitle" value="" placeholder="Enter Title for your blog" maxlength="100">
<h3>Content:</h3>
<em>Conent limit 4000 characters per post</em>
<textarea name="content" rows="8" cols="72" maxlength="4000"></textarea>
<button type="submit" name="button" class="btn btn-info">Post</button>
</form>
</div>

</section>

<%- include("partials/footer")-%>
