<%- include("partials/header") -%>

<div class="home col-lg-12 col-sm-12 container-sm container-fluid">
  <div class="home1" >

<h1><b>T</b>he <b>B</b>log <b>W</b>ep</h1>
<p>The Place Where To Fork Solutions!</p>
  </div>

<section id="home">



  <div class="second" id="df1">


  </div>
  <div class="second1">


  </div>
</section>
</div>

<div class="third container-fluid">


    <div class="Para1 col-lg-4 col-sm-12 col-md-12" data-aos="fade-up" >
      <h2>What is Blog Wep ?</h2>

      <p>The place where you can post your doubt's ask query's regarding Tech. No matter what your domain is a community is there for you! </p>
    </div>

    <div class="Para2 col-lg-4 col-sm-12 col-md-12" data-aos="fade-up">
      <h2>Why do we use it ?</h2>
      <p>Cause you can write blogs on various tech topics and get liked for it and be a famous criterion and later be a part of contributing community</p>
    </div>
    <div class="Para3 col-lg-4 col-sm-12 col-md-12" data-aos="fade-up">
      <h2>How to use it ?</h2>
      <p>Just scroll down and find your way! Just make sure to post likable content and fruitful and usefull mumbo jumbo's and don't forget to solve techs</p>
    </div>

</div>

<div class="difference col-lg-12 col-sm-12" >
  <h2 data-aos="fade-up">The Difference Between other blogs and blogwep</h2>
  <p data-aos="fade-up">just like every other blogs out there you can write a blog and get paid for it
    but <b>blog wep</b> is something different here you can post a particular question regarding a tech topic
    and get answered within minutes. Its a platform to develop your self and your skill so without giving a thought jump below !
   </p>

</div>

<div class="trans1 col-lg-12 col-sm-12">
<h3 data-aos="fade-up">lets begin the journey</h3>
<div class="link1 col-lg-6" data-aos="fade-up">
  <h4>Let's Go SuperHero Style</h4>
  <a href="/signup">Blog</a>
</div>
<div class="link2 col-lg-6" data-aos="fade-up">
  <h4>Let's Go Simple</h4>
  <a href="/signup">Blog</a>
</div>

</div>



<%- include("partials/footer") -%>
