<%- include("partials/header") -%>

<form class="formsignin" action="/" method="post">

  <div class="formsignindiv">
<center>
<h1>Sign <span>Up</span></h1>


<input type="email"    name="eml"   placeholder="Enter Your Email">
<input type="password" name="pass"  placeholder="Password">
<input type="password" name="pass1" placeholder="Confirm Password">
<a href="/signin"> signin instead?</a>
<button type="submit" name="button" class="submitbutton">Submit</button>
</center>
    </div>
</form>


<%- include("partials/footer") -%>
