<%- include("partials/header") -%>

<form class="formsignin" action="/signin" method="post" data-aos="zoom-out">



<h1>Sign <span>In</span></h1>
<table>
  <tr>


<td>
  <div class="formsignindiv" >
  <input type="email" name="username" placeholder="Enter Your Email">
<input type="password" name="password" placeholder="Password">
<h3><%= var1 %></h3>
<button type="submit" name="button"  class="btn btn-info">Submit</button>
</div>
</td>


<div class="formsignindiv2 ">


  <td>
    <div id="my-signin2"></div>
      <script>
        function onSuccess(googleUser) {
          console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        }
        function onFailure(error) {
          console.log(error);
        }
        function renderButton() {
          gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
          });
        }
      </script>

      <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

  </td>
  </div>


</tr>
</table>
</form>
<%- include("partials/footer") -%>
