<%- include("partials/header") -%>

<form class="formsignin" action="/signin" method="post">

  <div class="formsignindiv">
<center>
<h1>Sign <span>In</span></h1>


  <input type="email" name="email" >
<input type="password" name="password" >

<button type="submit" name="button" class="submitbutton">Submit</button>
<h3 id="error404"> <%= inc %> !</h3>
</center>
    </div>
</form>
<%- include("partials/footer") -%>
