<%- include("partials/header") -%>

<form class="formsignin" action="/signin" method="post" data-aos="zoom-out">



<h1>Sign <span>In</span></h1>
<table>
  <tr>


<td>
  <div class="formsignindiv" >
  <input type="email" name="email" placeholder="Enter Your Email">
<input type="password" name="password" placeholder="Password">
<h3><%= var1 %></h3>
<button type="submit" name="button"  class="btn btn-info">Submit</button>
</div>
</td>


<div class="formsignindiv2 ">


  <td>Facebook Google APIS</td>
  </div>


</tr>
</table>
</form>
<%- include("partials/footer") -%>
