<%- include("partials/header") -%>

<form class="formsignin" action="/" method="post">

  <div class="formsignindiv">
<center>
<h1>Sign <span>Up</span></h1>


  <input type="email" name="eml" value="Example@gmail.com">
<input type="password" name="pass" value="Password">
<input type="password" name="pass1" value="Confirm Password">
<a href="/signin"> signin instead?</a>

<button type="submit" name="button" class="submitbutton">Submit</button>
</center>
    </div>
</form>
<%- include("partials/footer") -%>
